$background: #2e2a23;
$background-dark: #221e18;
$background-light: #efefef;
$background-grey: #dddddd;
$text: #888888;
$text-link: #6a6762;
$text-light: #aaaaaa;
$checked: #4cbb4a;
$win-text: #96f652;
$border: #585857;
$border-dark: #403e3a;
$main-color: #587c5c;
$blue: #c3e2ee;
$table: #b87720;
$table-dark: #8f5b17;
$bento: #845518;
$table-gradient: linear-gradient(355deg, #b87720 0%, #875d25 100%);
$bento-gradient: linear-gradient(355deg, rgba(132,85,24,1) 0%, rgb(110 68 13) 100%);
$win-text-shadow: 0px 2px 0px rgba(75, 56, 26, 0.5);
$tablet-width: 768px;