.footer {
  background-color: rgba($background-dark, 0.6);
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.footer__rss-link {
  width: 73px;
  height: 28px;
  display: inline-block;
  background-image: url(../assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  @extend %transition;
  &:hover {
    opacity: 1;
  }
}