.levels-list__title {
  color: $main-color;
}

.levels-list {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 10px;
}

.level__checkmark {
  position: relative;
  display: inline-block;
  margin-right: 14px;
  width: 8px;
  height: 13px;
  top: -1px;
  transform: rotate(40deg);
  opacity: .55;
  border: solid 3px $text;
  border-width: 0 3px 3px 0;
}

.level__number {
  font-weight: 600;
  margin-right: 10px;
}

@media screen and (max-width: $tablet-width) {
  .level__text {
    display: none;
  }
}