.table {
  margin-bottom: 10px;
}

.table__surface {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: $table;
  transform: perspective(1000px) rotateX(20deg);
  min-height: 120px;
  min-width: 100px;
  & > * {
    margin: 5px;
  }
}

.table__legs {
  display: flex;
  justify-content: space-between;
  border-top: 10px solid $table-dark;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: -3px;
}

.table__leg {
  width: 20px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 10px solid $table-dark;
}