.table {
  margin-bottom: 10px;
  width: 87%;
  position: relative;
}

@media screen and (max-width: $laptop-width) {
  .table {
    width: 95%;
  }
}
@media screen and (max-width: $tablet-width) {
  .table {
    width: 100%;
  }
}

.table__surface {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: $table;
  transform: perspective(1000px) rotateX(20deg);
  min-height: 120px;
  min-width: 100px;
  & > * {
    margin: 5px;
  }
  & > * .dance,
  & > *.dance {
    transform-origin: bottom;
    animation: dance 1s infinite;
    animation-delay: 0.5s;
  }
}

.table__legs {
  display: flex;
  justify-content: space-between;
  border-top: 10px solid $table-dark;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: -3px;
}

.table__leg {
  width: 20px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 10px solid $table-dark;
}

.table__win-message {
  font-size: 4rem;
  font-weight: 600;
  color: $win-text;
  text-shadow: $win-text-shadow;
}

@keyframes dance {
  0% {
    transform: skew(1deg,0deg) scaleX(1);
  }
  10% {
      transform: skew(1deg,0deg) scaleY(0.95);
  }
  50% {
      transform: skew(-1deg,0deg) scaleX(1);
  }
  60% {
      transform: skew(-1deg,0deg) scaleY(0.95);
  }
  100% {
      transform: skew(1deg,0deg) scaleX(1);
  }
}